
body {
  background-color: #d9d9d9;
  height: 100vh;
}
.navbar {
  background-color: #d9d9d9;
}
.navbar-brand img {
  max-height: 50px;
}
.nav-link {
  text-transform: uppercase;
  color: #362828;
  font-weight: 700;
  display: inline-block;
  position: relative;
  text-decoration: none;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  width: 0;
  height: 2px;
  background-color: #362828;
  transition: width 0.4s ease-out, left 0.4s ease-out;
}

.nav-link:hover::after,
.nav-link.active::after { /* Active link gets the same effect */
  width: 95%;  /* Slightly less than 100% to prevent continuous line effect */
  left: 2.5%;
}


.slogan h2 {
  color: #63514f;
  letter-spacing: 2px;
  word-spacing: 10px;
}

.search .fa-magnifying-glass {
  color: #63514f;
}
.search-result .card {
  border: solid 2px #63514f;
}
.search-result .card img {
  object-fit: contain;
  width: 100%;
  height: 100%;
}
.search-result .card .card-image-container{
    height: 200px;
}

.truncate {
    flex-grow: 1; /* Take remaining space */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflowed text */
    display: -webkit-box; /* Enable multi-line truncation */
    -webkit-line-clamp: 3; /* Number of lines to show before truncating */
    -webkit-box-orient: vertical; /* Set box orientation to vertical */
  }

  .loader {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #63514f;
    width: 70px;
    height: 70px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
  

  .book-extractor-loader {
    border: 2px solid #f3f3f3;
    border-radius: 50%;
    border-top: 2px solid #63514f;
    width: 20px;
    height: 20px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
  }
.table-row-border-bottom{
  border-bottom: 1px solid #63514f;;
}
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  .output-container{
    border-radius: 15px;
    background-color: #ffffff;
  }

/* BOOK LIST CSS */
.book-list, .book-request-list {
  max-width: 800px;
  margin: 20px auto;
}
.book-card {
  background-color: #ffffff;
  display: flex;
  margin: 15px 0;
  border: 1px solid #ddd;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
.book-card img {
  width: 80px;
  height: 120px;
  object-fit: cover;
  margin-right: 15px;
}
.book-details {
  flex-grow: 1;
}
.book-description{
  height: 55vh
}
@media only screen and (max-width: 600px) {
  .book-description{
    height: 30vh
  }
}